<h1 class="text-center"><%= pluralize(@features.count, "Result") %></h1>
<%= render 'search/form'%>

<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@query, :Title, "Title", default_order: :asc) %></th>
        <th><%= sort_link(@query, :Description, "Description") %></th>
      </tr>
    </thead>

    <tbody>
      <% @features.each do |feature|%>
      <% @proo = Project.where(id: feature.project_id) %>
        <tr>
          <th><%= link_to feature.Title, project_path(feature.project_id)%></th>
          <th><%= feature.Description.truncate_words(10)%></th>
          <!-- <th><%= @proo.name %></th> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

