<li id="feature-<%= feature.id %>">
  <span class="project"><%= link_to feature.project.name, feature.project %></span>
  <span class="title"><%= feature.title %></span>
  <span class="description"><%= feature.description %></span>
  <span class="category"><%= feature.category %></span>

</li>